.secback{
 background-image: url(https://cdn.pixabay.com/photo/2014/04/02/17/03/freedom-307791_960_720.png);
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 
}

.red{
 color: red;
}
.about{
 padding: 20px;
 margin-left: 40%;
 margin-top: 25%;
 position: relative;

}
#setwhite{
 background-color: white;
}